html, body {
  margin: 0;
  background-color:#000000;
}
*{
    text-align:center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
.header{
  opacity:0.8;
  position:fixed;
  width:100%;
  background-color:#000211;
  z-index:1000;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

li{
  color:#FFF;
  display:table;
  position:relative;
  padding:0px 60px 10px 60px;
  font-size:15pt;
}
.inputUL{
   padding:0px 0px 100px 0px;
   text-align:center;
}
.main{
  padding:50px 0px 10px 0px;
  background-color:#000000;
  color:#FFF;
}
.input{
  text-align:center;
  padding:0px 0px 50px 0px;
}
.results{
  text-align:center;
  padding:0px 0px 50px 0px;
}
#chart_div{
    color:#FFF;
}
#IMAGE{
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
}
#chart_Calories{
    color:#FFF;
}
#chart_schedule{
    color:#FFF;
}
